{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "eslint-plugin-react"
  ],
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecorators": true
    }
  },

  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "react/require-default-props": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-console": 0,
    "prefer-promise-reject-errors": 0,
    "no-restricted-syntax": 0,
    "import/no-named-as-default": 0
  }
}
